<div class="row m-2 border-bottom find-friends">	
	<div class="col-md-2"> <div class="find-friends-gravatar border mb-3"> <%= gravatar_for(user) %></div></div>
	<div class="col-md-4 pt-4"> <span> <%= link_to user.email, user %> </span> </div>
	<div class="col-md-3 pt-4"> <button class="btn btn-sm custom-default-btn"> <i class="fa fa-user-plus"></i> Add friend </button> milestone 5 </div>
	<div class="col-md-3 pt-4"> <button class="btn btn-sm custom-default-btn"> <i class="fa fa-user-times"></i> Cancel request </button>  milestone 5 </div>
</div>