<div class="container">
	<div class="row">
		<div class="col-md-12 border">
				<div class="timeline-banner-section border">
					<div class="cover-image border">
						<div class="user-timeline-photo"> <%= gravatar_for(current_user, size: 175) %>	</div>
						<div class="photo-name border"> User Fullname	</div>
					</div>
					<div class="timeline-menu border">
						<ul>
							<li>Timeline</li>
							<li>About</li>
							<li>Friends <span class="text"></span></li>
							<li>About</li>
						</ul>
					</div>
				</div>
		</div>
	</div>
</div>