<p>Render banner-like header to show avatar </p>

<%= render 'bio', user: @user %>
	<p>Render secondary user_nav_bar if you can - to mimick facebook</p>
	<%= render 'post_form' %>
	<%= render @posts || 'No Posts' %>