<p>Render banner-like header to show avatar </p>
<%= render 'bio', user: @user %>
	<p>Render secondary user_nav_bar if you can - to mimick facebook</p>
	<p>Render post editor for the current user to be able to creat a post while here </p>
	<p>Render all user's posts </p>