<div>
		<p>render left of post partial (facebook web feeds, groups menu etc)</p>
		<%= render 'post_form' %>	
		<div> <%= render @posts %></div>
		
		<p>render partial for home_page. Facbook home page</p>	
</div>