<div class="row m-2 p-0 border-bottom">	
	<div class="col-md-2 p-0"> <div class="find-friends-gravatar border mb-3"> <%= gravatar_for(user) %></div></div>
	<div class="col-md-4 p-0 pt-4"> <span> <%= link_to user.fullname, user %> </span> </div>
	<div class="col-md-3 pt-4"> 
   <i class="fa fa-user-plus"></i> 
    <%= link_to 'Confirm Friend', friendship_path(user),  method: :patch, class: "btn  btn-sm custom-default-btn", 
    title: "Confirm friend request" %>
  </div>
</div>