// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	color: #1d2129;
	.card-header, .card-footer{ background-color: #f5f6f7; font-size: 12px;  font-weight: bold; }
	.card-footer{font-size: 12px;
		a {
			color: #1d2129;
		}
		.social-btn{background-color: #f5f6f7; color: #1d2129;
			&:hover{ background-color: #dadde1;}
			i {letter-spacing: 2px; font-weight: bold;}
		}
	}
	textarea  { outline: none; resize: none; 
		&:focus {
			border-outline: none;
		}
	}
}

.gravatar { width: 44px; height: 44px;}
.post-author { width: 75%; height: 52px; font-weight: bold; font-size: 1.1em;
	a { color: $default-link-color}
	p {font-size: 12px;  font-weight: normal;}
}
.post-body {text-align: justify; 
		font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
	  color: #1d2129;
}
.post-actions {  width: 44px; height: 44px; 
	.toggle-btn { 
		font-weight: normal; font-size: 1.99em; line-height: 0px; padding: 0; height: 24px; display: inline-block;
	}
	&:hover {cursor: pointer; color: #dadde1; }
	.dropdown-item { font-size: 12px; color: #1d2129; }
	.dropdown-menu {width: 40%;}
}